* {margin: 0;}
html {
	background-image: linear-gradient(to top left, red, green);
	display: block;
}

.title {
	background: #9C9794;
	width: 100%;
	margin: 0;
	display: block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size:22px;
	font-family:"Lucida Handwriting","Brush Script MT",Papyrus;
}




h2 {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	background-color: #e0f0dd;
	max-width:760px;
	margin-left: auto;
	margin-right: auto;
}

.container1 {
	display: flex;
	margin: 0 auto ;
	max-width:760px;
	background-color: #e0f0dd;
	padding: 9px;
	margin-top: 9px;
	box-sizing: border-box;
}

.col2{
	flex: 1;
	display: flex;
	flex-direction: column;
}

.sub1 {
	flex: 1;
	padding-left: 5px;
}

.sub2 {
	flex: 1;
	padding-right: 10px;
	font-size: small;
	text-align:justify;
    text-align-last:center;
    /* for IE9 */
    -ms-text-align-last:center;
}

.sub3 {
	flex: 2;
	text-align:justify;
	font-size:15px;
	font-family:Papyrus;
	padding:0px 10px 10px 10px;
	background-color: #E0C9A6;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
}


@media screen and (max-width: 480px) {
	
	.col2 {
		display: none;
	}
	
	.sub3 {
		flex: 2;
	text-align:justify;
	font-size:15px;
	font-family:Papyrus;
	padding:0px 10px 10px 10px;
		box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
		background-image: url(image/backimg.jpg);
	}
}

/* navigation style  */



nav {
  display: flex;
  background-color: black;
  padding: 10px 0px;
  
}
nav a {
  flex: auto;
  text-align: center;
  background: pink;
  color: black;
  margin: 0 5px;
  padding: 5px 0;
  text-decoration: none;
}
nav a:hover {
  outline: 1px solid red;
  color: red;
  text-decoration: underline;
}

@media screen and (min-width: 980px) { 
         nav {
				  display: flex;
				  background-color: black;
				  padding: 10px 10px;
				  width:960px;
				  margin-left: auto;
				  margin-right: auto;
  
		 }
 
}

/* end navigation style  */

